/dts-v1/;
#include <nordic/nrf52832_ciaa.dtsi>
#include "nRF52832-dev-pinctrl.dtsi"

/ {
	model = "nRF52832 dev kit";
	compatible = "nordic,nRF52832-dev";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	aliases {
		i2c0 = &i2c0;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(48)>;
		};

		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000c000 DT_SIZE_K(220)>;
		};

		slot1_partition: partition@43000 {
			label = "image-1";
			reg = <0x00043000 DT_SIZE_K(220)>;
		};

		storage_partition: partition@7a000 {
			label = "storage";
			reg = <0x0007a000 DT_SIZE_K(24)>;
		};
	};
};

&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	/* I2C devices */
	bma400: bma400@18 {
		compatible = "bosch,bma400";
		reg = <0x18>;
		label = "BMA400";
		status = "okay";
	};

	max30208: max30208@50 {
		compatible = "maxim,max30208";
		reg = <0x50>;
		label = "MAX30208";
		status = "okay";
	};

	maxm86161: maxm86161@5e {
		compatible = "maxim,maxm86161";
		reg = <0x5e>;
		label = "MAXM86161";
		status = "okay";
	};
};